#container{
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    height: 70vh;
}

.square{
    border: 1px solid black;  
    transition: background-color 0.3s;
}
.square:hover{
    background-color:#69F0AE;
}
.square.hovered{
    background-color: red;
}