#container{
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    height: 70vh;
    border: 10px solid red;
}

.square{
    box-sizing: border-box;
    border: 1px solid black;  
    transition: background-color 0.2s;
}
.square:hover{
    background-color:#69F0AE;
}
.square.hovered{
    background-color: red;
}